#content {
	background-color: #191f28;
	font-family: 'Source Sans Pro';
	margin-top: 140px;
	margin: 0;
	height: 100%;
	overflow: hidden;
}
@media (min-width: 1px) and (max-width: 767px) {
	#content {
		background-color: #191f28;
		overflow: scroll;
	}
	.welcome {
		text-align: center;
		font-weight: bold;
		font-size: 25px;
		color: white;
		margin-top: 40px;
	}
	b {
		font-family: 'Audiowide', cursive;
	}
	.flex-container {
		display: flex;
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		margin-left: 20px;
		flex-direction: column;
		margin: 35px;
	}
	h1 {
		font-weight: normal;
		font-size: 13px;
		text-align: center;
		color: white;
	}
	p {
		display: none;
	}
	.food {
		background-color: #232b38;
		height: auto;
		margin-top: 20px;
		border-radius: 20px;
	}
	.water {
		background-color: #232b38;
		height: auto;
		margin-top: 25px;
		border-radius: 20px;
	}
	.distance {
		background-color: #232b38;
		height: auto;
		margin-top: 25px;
		border-radius: 20px;
	}
	#doughnut-chart {
		margin-top: -10px;
	}
}
@media (min-width: 768px) and (max-width: 1024px) {
	#content {
		background-color: #191f28;
		overflow: scroll;
	}
	.welcome {
		text-align: center;
		font-weight: bold;
		font-size: 40px;
		color: white;
		margin-top: 60px;
	}
	b {
		font-family: 'Audiowide', cursive;
	}
	.flex-container {
		display: flex;
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		margin-left: 20px;
		flex-direction: column;
		margin: 55px;
	}
	h1 {
		font-weight: normal;
		font-size: 25px;
		color: white;
		margin-left: 20px;
		text-align: center;
	}
	p {
		display: none;
	}
	.food {
		background-color: #232b38;
		height: auto;
		margin-top: 30px;
		border-radius: 20px;
	}
	.water {
		background-color: #232b38;
		height: auto;
		margin-top: 35px;
		border-radius: 20px;
	}
	.distance {
		background-color: #232b38;
		height: auto;
		margin-top: 35px;
		border-radius: 20px;
	}
}
@media only screen and (min-width: 1025px) {
	.welcome {
		text-align: center;
		font-weight: bold;
		color: white;
		font-size: 65px;
	}
	b {
		font-family: 'Audiowide', cursive;
	}
	.flex-container {
		display: flex;
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		margin-left: 100px;
	}
	h1 {
		font-weight: normal;
		font-size: 20px;
		color: white;
		margin-left: 20px;
	}
	p {
		font-size: 12px;
		font-style: italic;
		margin-left: 20px;
		color: white;
	}
	.food {
		background-color: #232b38;
		height: auto;
		width: 40%;
		margin-left: 20px;
	}
	.water {
		background-color: #232b38;
		height: auto;
		width: 40%;
		margin-left: 30px;
	}
	.distance {
		background-color: #232b38;
		height: auto;
		width: 40%;
		margin-top: 20px;
		margin-left: 20px;
	}
	#bar-chart {
		margin-left: 10px;
		margin-top: 25px;
	}
	#doughnut-chart {
		margin-right: 80px;
	}
	#line-chart {
		margin-top: -20px;
	}
}
